<div class="vertical-banner p-3">
  <div class="banner p-3">
    <div class="d-flex justify-content-center">
      <button mat-icon-button class="banner-icon-round mb-3">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div class="banner-body">
      <p class="font-weight-bold">Play Movie quizzes and earn free ticket</p>
      <p style="font-size: 0.8rem">50k people are playing now</p>
    </div>
    <div class="d-flex justify-content-center">
      <button mat-flat-button class="btn-movie">Start Playing</button>
    </div>
  </div>
</div>
