<ul class="ul text-white">
  <li class="d-flex justify-content-between pb-4">
    <div class="text-lg font-weight-bold">Filters</div>
    <div>
      <mat-icon>expand_more</mat-icon>
    </div>
  </li>
  <li class="d-flex justify-content-between pb-4">
    <div class="text-lg font-weight-bold">Mood</div>
    <div>
      <mat-icon>expand_more</mat-icon>
    </div>
  </li>
  <li class="d-flex justify-content-between pb-4">
    <div class="text-lg font-weight-bold">Year</div>
    <div>
      <mat-icon>expand_more</mat-icon>
    </div>
  </li>
  <li class="d-flex justify-content-between pb-4">
    <div class="text-lg font-weight-bold">Languages</div>
    <div>
      <mat-icon>expand_more</mat-icon>
    </div>
  </li>
  <li class="d-flex justify-content-between pb-4">
    <div class="text-lg font-weight-bold">Age Rating</div>
    <div>
      <mat-icon>expand_more</mat-icon>
    </div>
  </li>
</ul>
